
.register {
    padding            : 2rem 4rem;
    background-image   : url(https://images.pexels.com/photos/3374205/pexels-photo-3374205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size    : cover;
    aspect-ratio       : 9/2;
    background-repeat  : no-repeat;
    background-position: center center;
    width              : 100%;
    height             : auto;
}